<div class="side-bar">
  <form (ngSubmit)="onSubmit()" class="mat-form-group form">
    <mat-form-field appearance="fill" class="form-input">
      <mat-label>Largeur</mat-label>
      <input matInput type="number" [(ngModel)]="width" name="width" required />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Longueur</mat-label>
      <input
        matInput
        type="number"
        [(ngModel)]="length"
        name="length"
        required
      />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Hauteur</mat-label>
      <input
        matInput
        type="number"
        [(ngModel)]="height"
        name="height"
        required
      />
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Charger</button>
  </form>
</div>
<div class="engine-wrapper">
  <canvas #rendererCanvas id="renderCanvas"></canvas>
</div>
